<% provide(:title, "Home") %>
	<!-- Banner -->
	<section id="banner" style="background-image:url(http://www.food-management.com/sites/food-management.com/files/styles/gal_landscape_main_1_retina/public/innovators-duke-dining-promo.jpg?itok=xY49Qmjg); background-position: center; background-repeat:no-repeat; background-size: cover; background-attachment: fixed;">
		<section id="banner" style="background-color:rgba(0, 0, 0, 0.6);">
			<div class="inner">
				<h2>Fava</h2>
				<p>A social food delivery app<br />
				Made for the hungry Duke student<br /> </p>
				<ul class="actions">
					<li> <%= link_to "Log In", login_path, class: "button special" %> </li>
				</ul>
				<ul class="actions">
					<li><%= link_to "Sign Up", signup_path, class: "button special" %> </li>
				</ul>
			</div>
			<a href="#" class="more scrolly">Learn More</a>
		</section>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>Ever wished West Union could deliver directly to you?<br />
				We know the feeling.</h2>
				<p>With Fava, you can request food deliveries from any on-campus restaurant, and have another Duke student deliver it directly to you. On the other hand, you can also accept food delivery requests from other hungry students.  You'll get to make some new friends (and money) in the process.</p>
			</header>
			<ul class="icons major">
				<li><span class="icon fa-cutlery major style1"><span class="label"></span></span></li>
				<li><span class="icon fa-heart-o major style2"><span class="label"></span></span></li>
				<li><span class="icon fa-hand-peace-o major style3"><span class="label"></span></span></li>
			</ul>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="/images/burger.JPG" alt="" /></div><div class="content">
				<h2>Post delivery requests<br />
				for others to see</h2>
				<p>You can ask the Duke community to deliver an exact type of food, from a specific on-campus restaurant, directly to you. </p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="/images/sharing.png" alt="" /></div><div class="content">
				<h2>Accept delivery posts<br />
				from other students</h2>
				<p>You can accept food requests, and get tipped for your delivery services. Not a bad way to make some money while you're walking between Div Café and Perkins!</p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="/images/duke-students.jpg" alt="" /></div><div class="content">
				<h2>Make food delivery easier on campus</h2>
				<p>No more waiting until past 8 PM to put in those delivery orders. With some help from the Duke community, we've got you covered.</p>
			</div>
		</section>
	</section>


	<section id="cta" class="wrapper style4">
			<div class="inner" >
				<header>
					<h2>Feeling hungry yet?</h2>
				</header>
				<ul class="actions vertical">
					<li> <%= link_to "Log In", login_path, class: "button special" %> </li>
					<li> <%= link_to "Sign Up", signup_path, class: "button special" %> </li>
				</ul>
			</div>
	</section>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script> 