<h1> Fava </h1>

<p> Hi <%= @fava_user.first_name %>, </p>

<p>
	Welcome to Fava! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@fava_user.activation_token, email: @fava_user.email) %>