<% provide(:title, "Change Password") %>

<article id="main">
	<header>
		<h2>Change PasswordProfile Information</h2>
			
		<span id="startchange"></span>
		<section class="wrapper style5">
				<div class="inner">
					<h3>Enter your password information</h3>
					<p><%=@fava_user%></p>
				</div>
				<button class="special" href="#">
                    <%= link_to "Make a Deposit", "/deposit" %>
                </button>
                <button class="special" href="#">
                        <%= link_to "Change Password", "/profile/change_password" %>
                </button>
		</section>
		
	</header>
</article>