<% provide(:title, "Filter by Category") %>

<article id="main">
	<header>
		<h2>Search Results</h2>
			<section class="wrapper style5">

				<h2 style="margin-top:-50px; font-size:20px;"><%= @category %> </h2>
				<p> Click on an item for more information, or to place an order for it! </p>
				<% @food_items.each do |f| %>
					<div class="inner"> <%=link_to f.food_name, food_item_profile_path(food_item: f.id) %> </div>
				<% end %>
			</section>
	</header>
</article>