<% provide(:title, "Filter food items") %>

<article id="main">
	<header>
		<h2>Search By Category </h2>
        <p> Filter through food items by category </p>
        <span id="startchange"></span>

			<section class="wrapper style5">
                    <% Category.all.order('name ASC').each do |c| %>
					   <p><%= link_to c.name, filter_by_cat_path(category: c.id) %> </p>
                    <% end %>
			</section>
	</header>
</article>