<% provide(:title, "List of Food") %>

<article id="main">
	<header>
		<h2>Menu</h2>
		
              <span id="startchange"></span>
			<section class="wrapper style5">
				<% if !@msg.nil? %>
					<h2 style="text-align:center; font-size:18px; color:red"> This restaurant is closed right now. </h2>
				<% end %>
				<h2 style="font-size:20px;"><%= @restaurant.name %> </h2>
				<p> Click on an item for more information, or to place an order for it! </p>
				<% @food_items.each do |f| %>
					<div class="inner">
						<%= link_to f.food_name, food_item_profile_path(food_item: f.id) %>
					</div>
				<% end %>
			</section>
		
	</header>
</article>

