<% provide(:title, "List of Restaurants") %>

<article id="main">
	<header>
		<h2>Request Delivery </h2>
		<p>Select from a list of the on-campus eateries we're currently serving</p>
			<section class="wrapper style5">
				<% @restaurants.each do |r| %>
					<div class="inner">
						<p> <%=link_to r.name, list_food_path(restaurant: r.id) %> </p>
					</div>
				<% end %>
			</section>
	</header>
</article>