<% provide(:title, "Timeline") %>
<article id="main">
	<header>
		<h2>Want to make a delivery request?</h2>
	</header>
	<section class="wrapper style5">
		<div class="inner" style="text-align: center">
			<%= link_to "Request a delivery here!", list_path %>

		</div>
	</section>
</article>