<% provide(:title, "Profile") %>

<article id="main">
	<header>
		<h2>Profile Information</h2>
		<!--<p>Select from a list of the on-campus eateries we're currently serving</p>-->
		
		<span id="startchange"></span>
		<section class="wrapper style5">
				
		
		</section>
		
	</header>
</article>
