<article id="main">
	<section class="wrapper style5" style="margin-left:50px; margin-right:50px; margin-top:50px;">
		<div class="inner">

			<section>
				<h4> Welcome to Fava! </h4>
				<p> Thank you for signing up! Please check your email to activate your account. </p>
			</section>
		</div>
	</section>
</article>
