<% provide(:title, "Food Item Profile") %>

<article id="main">
	<header>
		<h2>Food Information</h2>
        
              <span id="startchange"></span>
			<section class="wrapper style5">
					<div class="inner">
						<h3>Select Deposit Method</h3>
					</div>

                    <button class="special" href="#">
                        <%= link_to "Duke Flex", "deposit/flex" %>
                    </button>
                    <button class="special" href="#">
                        <%= link_to "Debit/Credit Card", "deposit/card" %>
                    </button>
			</section>
	</header>
</article>